{% extends "_base.html" %}

{% block title %}Sign In{% endblock %}

{% block additionalhead %}
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">
{% endblock %}

{% block containerclass %}site-wrapper{% endblock %}

{% block container %}

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">New Slim WebApp</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="/auth/signin">Sign In</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              {% include 'auth/_flash.html' %}
              <form action="" method="POST" class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="username" type="eext" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>

            </div>
          </div>
        </div>


      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

{% endblock %}
